.block {
    width: 90%;
    margin: 5px auto;
    padding: 25px;
    background-color: aqua;
    border-radius: 10px;
    display: grid;
    grid-template-columns:1fr 2fr;
  }
  .block h2 {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    left: -40px;
    background-color: var(--mainColor);
    color: #fff;
  }
  .block h2:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -15px;
    border: 15px solid;
    border-color: transparent var(--mainColor) transparent transparent;
  }
  .block-title{
      font-size: large;
      font-weight: bold;
      color: white;
  }
  .info-block p {
      margin-top: 10px;
  }
  .info-block{
      padding-left: 50px;
  }
  .image-block img{
    border-radius: 20px;
}
  .read-btn{
      margin: 10px;
    height: 30px;
    width: 100px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.read-btn:hover{
    font-weight: bold;
    cursor: pointer;
}
.number-block{
    width: 100%;
    height: 30vh;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.number-card{
    font-size: large;
}
.product-block{
    width: 100%;
    height: 30vh;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.product{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-headline{
    text-align: center;
}

  @media screen and (max-width: 1080px) {
.block{
    display: block;
}
.info-block{
    padding:10px;
}
.image-block{
    margin-top: 10px;
}
.image-block img{
    border-radius: 10px;
}
.number-block{
    display: block;
    height: 100%;  
}
.number-card{
    border-bottom: 0.1px solid black;
    border-radius: 100px;
}
.product-block{
    display: block;
}
.product{
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

}
